# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from config import gkey

In [7]:
# Import File and Set DataFrame
cities_temps_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
cities_temps_df

,city_id,city_name,country,latitude,longitude,weather_date,temp,humidity,cloudiness,wind_speed
0,3430443.0,Necochea,AR,-38.55,-58.74,11/09/20,79.00,40.0,100.0,8.01
1,2077963.0,Albany,AU,-35.02,117.89,11/09/20,48.20,93.0,75.0,23.04
2,2537881.0,Safi,MA,32.30,-9.24,11/09/20,66.29,80.0,0.0,19.28
3,3388847.0,São Félix do Xingu,BR,-6.64,-51.99,11/09/20,89.02,55.0,89.0,4.50
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
616,1282027.0,Malé,MV,4.17,73.51,11/09/20,82.40,83.0,75.0,5.82
617,2137773.0,Vao,NC,-22.67,167.48,11/09/20,70.09,73.0,55.0,17.40
618,1648082.0,Boyolangu,ID,-8.12,111.89,11/09/20,75.99,87.0,100.0,3.09
619,5983607.0,Inuvik,CA,68.35,-133.72,11/09/20,-3.12,83.0,100.0,11.41
620,1525376.0,Bestöbe,KZ,52.50,73.10,11/09/20,35.85,85.0,100.0,5.77

In [9]:
# Drop Rows with NaN Values
cities_temps_df.dropna()

,city_id,city_name,country,latitude,longitude,weather_date,temp,humidity,cloudiness,wind_speed
0,3430443.0,Necochea,AR,-38.55,-58.74,11/09/20,79.00,40.0,100.0,8.01
1,2077963.0,Albany,AU,-35.02,117.89,11/09/20,48.20,93.0,75.0,23.04
2,2537881.0,Safi,MA,32.30,-9.24,11/09/20,66.29,80.0,0.0,19.28
3,3388847.0,São Félix do Xingu,BR,-6.64,-51.99,11/09/20,89.02,55.0,89.0,4.50
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
616,1282027.0,Malé,MV,4.17,73.51,11/09/20,82.40,83.0,75.0,5.82
617,2137773.0,Vao,NC,-22.67,167.48,11/09/20,70.09,73.0,55.0,17.40
618,1648082.0,Boyolangu,ID,-8.12,111.89,11/09/20,75.99,87.0,100.0,3.09
619,5983607.0,Inuvik,CA,68.35,-133.72,11/09/20,-3.12,83.0,100.0,11.41
620,1525376.0,Bestöbe,KZ,52.50,73.10,11/09/20,35.85,85.0,100.0,5.77

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
# Configure Gmaps
gmaps.configure(api_key=gkey)

# Use the Lat and Lng as locations
locations = cities_temps_df.dropna()[["latitude","longitude"]]

#Add Humidity
humidity = cities_temps_df.dropna()["humidity"]

In [13]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Add Heat Layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = cities_temps_df.loc[(cities_temps_df["wind_speed"] <= 10) & (cities_temps_df["cloudiness"] == 0) & \
                                   (cities_temps_df["temp"] >= 70) & (cities_temps_df["temp"] <= 80)].dropna()

narrowed_city_df

,city_id,city_name,country,latitude,longitude,weather_date,temp,humidity,cloudiness,wind_speed
20,3894426.0,Coyhaique,CL,-45.58,-72.07,11/09/20,71.60,33.0,0.0,6.93
54,1253237.0,Verāval,IN,20.90,70.37,11/09/20,78.76,54.0,0.0,2.44
126,100926.0,Umluj,SA,25.02,37.27,11/09/20,77.40,59.0,0.0,9.40
128,2454955.0,Kolokani,ML,13.57,-8.03,11/09/20,79.47,17.0,0.0,6.96
133,1253578.0,Vadlapūdi,IN,14.32,79.80,11/09/20,70.02,65.0,0.0,6.82
250,2446796.0,Bilma,NE,18.69,12.92,11/09/20,71.78,29.0,0.0,8.48
294,1258406.0,Rāpar,IN,23.57,70.63,11/09/20,77.25,28.0,0.0,3.56
311,286621.0,Salalah,OM,17.02,54.09,11/09/20,78.80,54.0,0.0,4.70
316,1045114.0,Inhambane,MZ,-23.86,35.38,11/09/20,78.39,94.0,0.0,5.82
321,1175712.0,Jiwani,PK,25.05,61.74,11/09/20,77.56,84.0,0.0,5.30
368,4820938.0,Saint Albans,US,38.39,-81.84,11/09/20,79.68,37.0,0.0,1.99
505,1177446.0,Gwadar,PK,25.12,62.33,11/09/20,76.01,86.0,0.0,4.79
510,286245.0,Sur,OM,22.57,59.53,11/09/20,76.08,74.0,0.0,1.99
562,2403094.0,Waterloo,SL,8.34,-13.07,11/09/20,79.00,82.0,0.0,3.67
570,108410.0,Riyadh,SA,24.69,46.72,11/09/20,77.00,41.0,0.0,4.70
594,1274020.0,Chodavaram,IN,17.83,82.95,11/09/20,71.60,88.0,0.0,2.24

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
# Store Data into Variable hotel_df
hotel_df = pd.DataFrame(cities_temps_df, columns=["city_name", "country", "latitude", "longitude"])

hotel_df["Hotel Name"] = ""
hotel_df

              city_name country  latitude  longitude Hotel Name
0              Necochea      AR    -38.55     -58.74
1                Albany      AU    -35.02     117.89
2                  Safi      MA     32.30      -9.24
3    São Félix do Xingu      BR     -6.64     -51.99
4                   NaN     NaN       NaN        NaN
..                  ...     ...       ...        ...        ...
616                Malé      MV      4.17      73.51
617                 Vao      NC    -22.67     167.48
618           Boyolangu      ID     -8.12     111.89
619              Inuvik      CA     68.35    -133.72
620             Bestöbe      KZ     52.50      73.10

[621 rows x 5 columns]

In [16]:
# Base URL
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Establish Params
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : gkey}

In [ ]:
for index, row in hotel_df.iterrows():
    # Get city_name, latitude, longitude from DataFrame
    lat = row["latitude"]
    lng = row["longitude"]
    city_name = row["city_name"]
    
    # Add Keyword to params dict
    params["location"] = f"{lat},{lng}"

    # Assemble URL and Make API Request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # Extract Results
    results = response['results']
    
    # Save Hotel Name to DataFrame
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # If no Hotel Available, Show Missing Field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 Second to Make Another API Request to Avoid SSL Error
    time.sleep(1)

# Print End of Search once Search is complete
print("-------End of Search-------")

Retrieving Results for Index 0: Necochea.
Closest hotel in Necochea is Hotel Ñikén Spa & Business Center.
------------
Retrieving Results for Index 1: Albany.
Closest hotel in Albany is Six Degrees Albany CBD Boutique Hotel.
------------
Retrieving Results for Index 2: Safi.
Closest hotel in Safi is RIAD LE CHEVAL BLANC - HÔTEL.
------------
Retrieving Results for Index 3: São Félix do Xingu.
Closest hotel in São Félix do Xingu is Hotel Serrano.
------------
Retrieving Results for Index 4: nan.
Missing field/result... skipping.
------------
Retrieving Results for Index 5: Torbay.
Missing field/result... skipping.
------------
Retrieving Results for Index 6: San Policarpo.
Closest hotel in San Policarpo is JM Lodge.
------------
Retrieving Results for Index 7: Georgetown.
Closest hotel in Georgetown is Royal Air Force Station Ascension.
------------
Retrieving Results for Index 8: Khandyga.
Closest hotel in Khandyga is Prezidentskaya Gostinitsa.
------------
Retrieving Results for Index 9: Bluff.
Closest hotel in Bluff is Foveaux Hotel.
------------
Retrieving Results for Index 10: Yellowknife.
Closest hotel in Yellowknife is The Explorer Hotel.
------------
Retrieving Results for Index 11: Severo-Kuril'sk.
Closest hotel in Severo-Kuril'sk is Kak Doma.
------------
Retrieving Results for Index 12: Rikitea.
Closest hotel in Rikitea is Pension Bianca & Benoit.
------------
Retrieving Results for Index 13: Avarua.
Closest hotel in Avarua is The Rarotongan Beach Resort & Lagoonarium.
------------
Retrieving Results for Index 14: Rocha.
Closest hotel in Rocha is Casa Rodo 53.
------------
Retrieving Results for Index 15: Birao.
Missing field/result... skipping.
------------
Retrieving Results for Index 16: Puerto Madero.
Closest hotel in Puerto Madero is Mision Surf Mexico.
------------
Retrieving Results for Index 17: Ushuaia.
Closest hotel in Ushuaia is Hotel Los Yámanas.
------------
Retrieving Results for Index 18: Ribeira Grande.
Closest hotel in Ribeira Grande is Quinta Das Buganvílias.
------------
Retrieving Results for Index 19: Strezhevoy.
Closest hotel in Strezhevoy is Sibiryachka.
------------
Retrieving Results for Index 20: Coyhaique.
Closest hotel in Coyhaique is El Reloj Hotel.
------------
Retrieving Results for Index 21: Eureka.
Closest hotel in Eureka is Best Western Plus Humboldt Bay Inn.
------------
Retrieving Results for Index 22: São Filipe.
Closest hotel in São Filipe is Hotel Miramar Fogo Brava.
------------
Retrieving Results for Index 23: Coquimbo.
Closest hotel in Coquimbo is Hotel San Juan.
------------
Retrieving Results for Index 24: nan.
Missing field/result... skipping.
------------
Retrieving Results for Index 25: Puerto Ayora.
Closest hotel in Puerto Ayora is Finch Bay Galapagos Hotel.
------------
Retrieving Results for Index 26: Hilo.
Closest hotel in Hilo is Grand Naniloa Hotel Hilo - a DoubleTree by Hilton.
------------
Retrieving Results for Index 27: Dikson.
Closest hotel in Dikson is Sberbank Rossii.
------------
Retrieving Results for Index 28: Busselton.
Closest hotel in Busselton is Abbey Beach Resort.
------------
Retrieving Results for Index 29: Atuona.
Closest hotel in Atuona is Hôtel Hiva Oa Hanakee Lodge.
------------
Retrieving Results for Index 30: Saint-Philippe.
Closest hotel in Saint-Philippe is Les Embruns Du Baril.
------------
Retrieving Results for Index 31: Laguna.
Closest hotel in Laguna is Laguna Tourist Hotel.
------------
Retrieving Results for Index 32: Kapaa.
Closest hotel in Kapaa is Hilton Garden Inn Kauai Wailua Bay.
------------
Retrieving Results for Index 33: Babu.
Closest hotel in Babu is Hezhou International Hotel.
------------
Retrieving Results for Index 34: Port Elizabeth.
Closest hotel in Port Elizabeth is Island Way Villa.
------------
Retrieving Results for Index 35: Cape Town.
Closest hotel in Cape Town is Atlanticview Cape Town Boutique Hotel.
------------
Retrieving Results for Index 36: Bredasdorp.
Closest hotel in Bredasdorp is Bredasdorp Square.
------------
Retrieving Results for Index 37: Esim.
Closest hotel in Esim is Ankobra Beach.
------------
Retrieving Results for Index 38: Hermanus.
Closest hotel in Hermanus is Misty Waves Boutique Hotel.
------------
Retrieving Results for Index 39: Kadaya.
Closest hotel in Kadaya is Sberbank Rossii.
------------
Retrieving Results for Index 40: Filingué.
Missing field/result... skipping.
------------
Retrieving Results for Index 41: Nyimba.
Closest hotel in Nyimba is Thula Lodge.
------------
Retrieving Results for Index 42: Nikolskoye.
Missing field/result... skipping.
------------
Retrieving Results for Index 43: Maniitsoq.
Closest hotel in Maniitsoq is Hotel Maniitsoq.
------------
Retrieving Results for Index 44: nan.
Missing field/result... skipping.
------------
Retrieving Results for Index 45: Pozo Colorado.
Closest hotel in Pozo Colorado is Hotel Marriot ⭐️⭐️⭐️⭐️.
------------
Retrieving Results for Index 46: Esperance.
Closest hotel in Esperance is Esperance Chalet Village.
------------
Retrieving Results for Index 47: Kysyl-Syr.
Closest hotel in Kysyl-Syr is Sberbank Rossii.
------------
Retrieving Results for Index 48: Jamestown.
Closest hotel in Jamestown is Richards Travel Lodge.
------------
Retrieving Results for Index 49: nan.
Missing field/result... skipping.
------------
Retrieving Results for Index 50: Umm Kaddadah.
Missing field/result... skipping.
------------
Retrieving Results for Index 51: Churapcha.
Missing field/result... skipping.
------------
Retrieving Results for Index 52: Qasigiannguit.
Closest hotel in Qasigiannguit is Hotel Discobay.
------------
Retrieving Results for Index 53: Nome.
Closest hotel in Nome is Noxapaga Suites.
------------
Retrieving Results for Index 54: Verāval.
Closest hotel in Verāval is The Square Somnath.
------------
Retrieving Results for Index 55: nan.
Missing field/result... skipping.
------------
Retrieving Results for Index 56: nan.
Missing field/result... skipping.
------------

In [ ]:
#Display Hotel Name in DataFrame
hotel_df

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city_name}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""


# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [ ]:
# Plot Markers on Top of Heatmap
# Add Marker layer on Top of Heatmap
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig